/* Master Styles */

body {
  background-color: #f4f4f4;
  height: 100%;
  min-height: 100%;
}

h2, legend {
    color: #f4f4f4;
}

.btn-custom {
    background-color: #2C3B40;
    border-color: #2C3B40;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #57777F;
    border-color: #57777F;
}

.wyt-app {
    background-color: #57777F;
    border-radius: 25px;
    color: #f4f4f4;
    padding: 20px;
    margin: 10px;
}

.pact-panel {
    background-color: #2C3B40;
    border-radius: 10px;
}

.turn-panel {
    background-color: #83B2BF;
    border-radius: 10px;
}

input.form-control {
    background-color: #f4f4f4 !important;
}
