<form class="form-horizontal">
  <legend>Current Turn ...</legend>
  <fieldset>
    <div class="form-group">
      <label for="idCurrent" class="col-xs-3 control-label">Who's turn?</label>
      <div class="col-xs-4">
        <input type="text" class="form-control" id="idCurrent" value="{{current}}" disabled>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-custom pull-left" type="submit">Confirm</button>
      </div>
    </div>
    <div class="form-group">
      <label for="idCurrent" class="col-xs-3 control-label">Last confirmation?</label>
      <div class="col-xs-4">
        <input type="text" class="form-control" id="idCurrent" value="{{lastConfirmation}}" disabled>
      </div>
    </div>
  </fieldset>
</form>
