
# compiled output
/dev/mss/frontend/dist
/dev/mss/frontend/tmp
/dev/mss/frontend/app/config.service.js
/dev/mss/frontend/app/config.service.js.map
/dev/mss/frontend/app/wyt.service.js
/dev/mss/frontend/app/wyt.service.js.map
/dev/mss/frontend/app/pact/pact.component.js
/dev/mss/frontend/app/pact/pact.component.js.map
/dev/mss/frontend/app/pact/pact.component.spec.js
/dev/mss/frontend/app/pact/pact.component.spec.js.map
/dev/mss/frontend/app/pact/pact.service.js
/dev/mss/frontend/app/pact/pact.service.js.map
/dev/mss/frontend/app/turn/turn.component.js
/dev/mss/frontend/app/turn/turn.component.js.map
/dev/mss/frontend/app/turn/turn.component.spec.js
/dev/mss/frontend/app/turn/turn.component.spec.js.map

# dependencies
/dev/mss/frontend/node_modules
/dev/mss/frontend/bower_components

# IDEs and editors
.idea
*.iml
*.launch
/dev/mss/frontend/.idea
/dev/mss/frontend/.vscode
/dev/mss/frontend.project
/dev/mss/frontend.classpath
/dev/mss/frontend.settings/

# Java
*.class
*.jar
*.war
*.ear

# misc
/dev/mss/frontend/.sass-cache
/dev/mss/frontend/connect.lock
/dev/mss/frontend/coverage/*
/dev/mss/frontend/libpeerconnection.log
/dev/mss/frontendnpm-debug.log
/dev/mss/frontendtestem.log
/dev/mss/frontend/typings

# e2e
/dev/mss/frontend/e2e/*.js
/dev/mss/frontend/e2e/*.map

#System Files
.DS_Store
Thumbs.db

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

